<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">

<script type="text/javascript" src="/javascripts/popper.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-slim.min.js"></script>
    <script type="text/javascript" src="/javascripts/qrcode.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="/javascripts/app.bundle.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
